.body {
  font-family: Arial, Helvetica, sans-serif;  /* fonte que achei melhor para destacar o nome */
  display: flex; /* garante que os elementos filhos, ou seja, dentro da primeira <div>  sejam exibidos em linha pelo Flexbox */
  justify-content: center; /* centraliza o conteúdo horizontalmente */
  align-items: center; /* centraliza o conteúdo verticalmente */
  height: 100vh; /* 100% da altura da tela */
  margin: 0; /* remove a margem padrão do body entre os elementos, ou seja, o espaço entre o elemento e seus vizinhos (como outros elementos ao redor ou a borda do contêiner)  */
  background-color: #f0f0f0; /* cor de fundo da pág! */
} 
.container { /* estilo do contêiner */
  text-align: center; /* centraliza o texto que está no elemento do container!!*/
}

.h1 { /* estilo do título */
  margin-bottom: 20px; /* margem inferior do título */
  color: #111010; /* cor do texto */

}

.board { /* estilo do tabuleiro  - BOARD sig TABULEIRO*/
  display: grid; /* Define o tabuleiro como um grid */
  grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas com larguras iguais */
  grid-template-rows: repeat(3, 1fr); /* Cria 3 linhas com alturas iguais */
  gap: 5px; /* Espaçamento entre as células */
  width: 300px; /* Largura fixa do tabuleiro */
  height: 300px; /* Altura fixa do tabuleiro */
  margin: 0 auto; /* Centraliza o tabuleiro na página */
  border: 2px solid #000; /* Borda ao redor do tabuleiro */
}

.status { /* estilo do status */
  font-size: 1.2rem; /* tamanho da fonte */
  margin-top:  20px; /* margem do botão */
  color: hsl(0, 6%, 16%);
}

.restart { /* estilo do botão de reiniciar */
  background-color: #333; /* cor de fundo do botão */
  color: #fff; /* cor do texto */
  font-size: 1.5em; /* tamanho da fonte */
  padding: 10px 20px; /* preenchimento do botão */
  border: none; /* remove a borda do botão */
  border-radius: 5px; /* borda arredondada do botão */
  cursor: pointer; /* cursor do mouse */
  margin-top: 20px; /* margem do botão */
}

.restart:hover { /* estilo do botão de reiniciar ao passar o mouse */
  background-color: #555; /* cor de fundo do botão */
}

.cell {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  border: 2px solid black; /* Borda de cada célula */
  background-color: #f9f9f9; /* Fundo das células */
  font-size: 24px; /* Tamanho do texto */
  font-weight: bold; /* Negrito para o texto */
  cursor: pointer; /* Adiciona o cursor de clique */
}

.cell.taken { /* estilo da célula ocupada */
  cursor: not-allowed; /* cursor do mouse */
}